.MyBorder {
  border: 1px solid #8b9cad;
  height: 500px; }

#addEmployee .row .body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 15px;
  margin: 15px;
  border-radius: 10px;
  width: 100%; }
  #addEmployee .row .body .col-md-12 .row .oneAdd {
    width: 100%;
    height: 30px;
    background: #8b9cad;
    font-size: 18px;
    color: #2c3e50;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    padding-left: 15px; }
  #addEmployee .row .body .col-md-12 .row .col-md-12 .row .header_list {
    padding: 14px;
    text-align: center;
    width: 100%;
    margin-left: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px; }
    #addEmployee .row .body .col-md-12 .row .col-md-12 .row .header_list ul {
      flex-direction: row;
      text-align: center; }
      #addEmployee .row .body .col-md-12 .row .col-md-12 .row .header_list ul button {
        width: 140px;
        height: 50px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #909ead;
        border-bottom-color: transparent;
        margin-left: 2px; }
        #addEmployee .row .body .col-md-12 .row .col-md-12 .row .header_list ul button:focus {
          outline: 0; }
        #addEmployee .row .body .col-md-12 .row .col-md-12 .row .header_list ul button li {
          cursor: pointer;
          color: #2c3e50; }
  #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all {
    width: 100%;
    background: transparent;
    padding-top: 5px; }
    #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all > div {
      display: none; }
      #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all > div form {
        width: 100%; }
        #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all > div form .form-group {
          margin: 0; }
          #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all > div form .form-group label {
            margin-left: 30px; }
          #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all > div form .form-group .form-control {
            border: 0;
            margin-bottom: 10px;
            padding: 8px;
            font-size: 13px;
            margin-top: 5px;
            border: 1px solid #35393e; }
    #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all .personal_information {
      display: block;
      width: 100%; }
      #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all .personal_information .form-control {
        border: 0;
        margin-bottom: 10px;
        padding: 8px;
        font-size: 13px;
        margin-top: 5px;
        border: 1px solid #35393e; }
      #addEmployee .row .body .col-md-12 .row .col-md-12 .row .body_all .personal_information .picture img {
        width: 35%;
        height: 165px;
        border-radius: 6px;
        margin-left: 18em; }

.col-md-10 .row .col-md-12 .row .table-header {
  width: 100%;
  height: 30px;
  background: #8b9cad;
  font-size: 18px;
  color: #2c3e50;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  padding-left: 15px;
  margin: 15px 15px 0 15px; }
.col-md-10 .row .col-md-12 .row .table-container {
  width: 100%;
  height: 500px;
  border: 1px solid #8b9cad;
  margin: 0px 15px 15px 15px;
  padding: 5px; }
  .col-md-10 .row .col-md-12 .row .table-container .table-container-row {
    margin-left: 0;
    margin-right: 0; }
    .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 {
      padding: 0; }
      .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row {
        font-family: Tahoma,Verdana,Segoe,sans-serif;
        font-size: 12px;
        height: 40px;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 6px;
        padding: 0; }
        .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) {
          text-align: left; }
          .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button {
            border-radius: 5px;
            background: #35393e;
            color: white;
            width: 100px;
            padding: 6px 0 6px 0;
            cursor: pointer;
            border: 0;
            transition-duration: 0.2s; }
            .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button:focus {
              outline: 0; }
            .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button:hover {
              background: #485059; }
            .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button i {
              padding-left: 5px;
              font-size: 11px;
              opacity: 0.9; }
        .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) input {
          border: 0;
          border-radius: 3px;
          padding: 5px 3px 5px 10px;
          width: 35%;
          border: 1px solid #35393e; }
          .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) input:focus {
            outline: 0; }
        .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button {
          border-radius: 5px;
          background: #35393e;
          color: white;
          width: 40px;
          padding: 6px 0 6px 0;
          cursor: pointer;
          border: 0;
          transition-duration: 0.2s; }
          .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button:focus {
            outline: 0; }
          .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button:hover {
            background: #485059; }
          .col-md-10 .row .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button i {
            font-size: 16px; }
  .col-md-10 .row .col-md-12 .row .table-container .all-employee {
    width: 100%; }
    .col-md-10 .row .col-md-12 .row .table-container .all-employee tr th, .col-md-10 .row .col-md-12 .row .table-container .all-employee tr td {
      font-family: Tahoma,Verdana,Segoe,sans-serif;
      border: 1px solid #9aa9b8;
      min-width: 50px; }
    .col-md-10 .row .col-md-12 .row .table-container .all-employee tr th {
      padding: 10px;
      font-weight: 600;
      font-size: 14px;
      color: #2c3e50; }
      .col-md-10 .row .col-md-12 .row .table-container .all-employee tr th:nth-child(2) {
        padding-right: 0px; }
    .col-md-10 .row .col-md-12 .row .table-container .all-employee tr td {
      padding-left: 10px;
      vertical-align: middle;
      color: #092644;
      font-size: 13px; }
      .col-md-10 .row .col-md-12 .row .table-container .all-employee tr td img {
        width: 40px;
        height: 40px;
        padding: 2px; }
      .col-md-10 .row .col-md-12 .row .table-container .all-employee tr td span {
        display: inline-block; }
      .col-md-10 .row .col-md-12 .row .table-container .all-employee tr td button {
        border-radius: 5px;
        background: #35393e;
        color: white;
        width: 60px;
        padding: 2px;
        cursor: pointer;
        border: 0;
        transition-duration: 0.2s; }
        .col-md-10 .row .col-md-12 .row .table-container .all-employee tr td button:focus {
          outline: 0; }
        .col-md-10 .row .col-md-12 .row .table-container .all-employee tr td button:hover {
          background: #485059; }

.col-md-10 #allDepartment .col-md-12 .row .table-header {
  width: 100%;
  height: 30px;
  background: #8b9cad;
  font-size: 18px;
  color: #2c3e50;
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  padding-left: 15px;
  margin: 15px 15px 0 15px; }
.col-md-10 #allDepartment .col-md-12 .row .table-container {
  width: 100%;
  height: 500px;
  border: 1px solid #8b9cad;
  margin: 0px 15px 15px 15px;
  padding: 5px; }
  .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row {
    margin-left: 0;
    margin-right: 0; }
    .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 {
      padding: 0; }
      .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row {
        font-family: Tahoma,Verdana,Segoe,sans-serif;
        font-size: 12px;
        height: 40px;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 6px;
        padding: 0; }
        .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) {
          text-align: left; }
          .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button {
            border-radius: 5px;
            background: #35393e;
            color: white;
            width: 100px;
            padding: 6px 0 6px 0;
            cursor: pointer;
            border: 0;
            transition-duration: 0.2s; }
            .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button:focus {
              outline: 0; }
            .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button:hover {
              background: #485059; }
            .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(1) button i {
              padding-left: 10px;
              font-size: 11px;
              opacity: 0.9; }
        .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) input {
          border: 0;
          border-radius: 3px;
          padding: 5px 3px 5px 10px;
          width: 35%;
          border: 1px solid #35393e; }
          .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) input:focus {
            outline: 0; }
        .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button {
          border-radius: 5px;
          background: #35393e;
          color: white;
          width: 40px;
          padding: 6px 0 6px 0;
          cursor: pointer;
          border: 0;
          transition-duration: 0.2s; }
          .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button:focus {
            outline: 0; }
          .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button:hover {
            background: #485059; }
          .col-md-10 #allDepartment .col-md-12 .row .table-container .table-container-row .col-md-12 .row .col-md-6:nth-child(2) button i {
            font-size: 16px; }
  .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee {
    width: 100%; }
    .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr th, .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr td {
      font-family: Tahoma,Verdana,Segoe,sans-serif;
      border: 1px solid #9aa9b8;
      min-width: 50px; }
    .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr th {
      padding: 10px;
      font-weight: 600;
      font-size: 14px;
      color: #2c3e50; }
      .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr th:nth-child(2) {
        padding-right: 0px; }
    .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr td {
      padding: 5px 5px 5px 10px;
      vertical-align: middle;
      color: #092644;
      font-size: 13px; }
      .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr td img {
        width: 40px;
        height: 40px;
        padding: 2px; }
      .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr td span {
        display: inline-block; }
      .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr td button {
        border-radius: 5px;
        background: #35393e;
        color: white;
        width: 60px;
        padding: 2px;
        cursor: pointer;
        border: 0;
        transition-duration: 0.2s; }
        .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr td button:focus {
          outline: 0; }
        .col-md-10 #allDepartment .col-md-12 .row .table-container .all-employee tr td button:hover {
          background: #485059; }

.MyBorder {
  border: 1px solid #8b9cad; }

#addDepartment .row .body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-size: 15px;
  margin: 15px;
  border-radius: 10px;
  width: 100%; }
  #addDepartment .row .body .col-md-12 .row .oneAdd {
    width: 100%;
    height: 30px;
    background: #8b9cad;
    font-size: 18px;
    color: #2c3e50;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    padding-left: 15px; }
  #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all {
    width: 100%;
    background: transparent;
    padding-top: 12px; }
    #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form {
      width: 100%; }
      #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form .form-group {
        margin: 0; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form .form-group label {
          margin-left: 30px; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form .form-group .form-control {
          border: 0;
          margin-bottom: 10px;
          padding: 8px;
          font-size: 13px;
          border: 1px solid #35393e; }
      #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form button {
        border-radius: 5px;
        background: #35393e;
        color: white;
        margin-top: 3px;
        width: 30px;
        padding: 2px 0 6px 0;
        height: 30px;
        cursor: pointer;
        border: 0;
        transition-duration: 0.2s; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form button:focus {
          outline: 0; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form button:hover {
          background: #485059; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div form button i {
          padding: 0 5px;
          font-size: 11px;
          opacity: 0.9; }
    #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div .add_new {
      width: 100%; }
      #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div .add_new label {
        margin-left: 45px; }
      #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div .add_new button {
        border-radius: 5px;
        background: #35393e;
        color: white;
        width: 120px;
        padding: 6px 0 6px 0;
        cursor: pointer;
        border: 0;
        transition-duration: 0.2s; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div .add_new button:focus {
          outline: 0; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div .add_new button:hover {
          background: #485059; }
        #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all > div .add_new button i {
          padding-left: 7px;
          font-size: 15px;
          opacity: 0.9; }
    #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all .department_information {
      display: block;
      width: 100%; }
      #addDepartment .row .body .col-md-12 .row .col-md-12 .row .body_all .department_information .form-control {
        border: 0;
        margin-bottom: 10px;
        padding: 8px;
        font-size: 13px; }

body {
  font-family: 'Roboto Condensed', sans-serif; }

.push-right {
  float: right; }

.push-left {
  float: left; }

#header {
  width: 100%;
  height: 60px;
  background: #2c3e50; }
  #header .container-fluid .col-md-2 img {
    height: 45px;
    width: 150px;
    padding-top: 17px;
    padding-left: 5px; }
  #header .container-fluid .col-md-10 {
    text-align: left; }
    #header .container-fluid .col-md-10 .notification {
      display: inline-block;
      width: 25px;
      height: 25px;
      padding-top: 1px;
      padding-left: 4px;
      margin-top: 15px;
      margin-right: 12px;
      background: #B4C6D8;
      border-radius: 100%;
      transition-duration: 0.4s;
      cursor: pointer; }
      #header .container-fluid .col-md-10 .notification:hover {
        background: #DAE4EF; }
      #header .container-fluid .col-md-10 .notification i {
        font-size: 17px; }
    #header .container-fluid .col-md-10 .user-image img {
      width: 40px;
      height: 40px;
      margin-top: 9px;
      border-radius: 3px;
      margin-right: 5px; }
    #header .container-fluid .col-md-10 .user-name {
      color: #B4C6D8;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      padding-top: 13px;
      margin-top: 5px;
      word-wrap: break-word;
      width: 200px;
      height: 50px;
      padding-right: 5px; }
      #header .container-fluid .col-md-10 .user-name span {
        display: inline-block;
        word-wrap: break-word;
        cursor: pointer;
        transition-duration: 0.2s; }
        #header .container-fluid .col-md-10 .user-name span:hover {
          color: #DAE4EF; }
      #header .container-fluid .col-md-10 .user-name i {
        cursor: pointer; }

#content .row .col-md-2 {
  background: #34495e;
  padding-left: 0;
  padding-right: 0; }
  #content .row .col-md-2 .list-group {
    padding-top: 30px; }
    #content .row .col-md-2 .list-group .list-items {
      display: inline-block;
      height: 40px;
      border-bottom: 1px solid #415D78;
      padding-left: 20px;
      padding-top: 8px;
      cursor: pointer;
      transition-duration: 0.4s; }
      #content .row .col-md-2 .list-group .list-items:hover {
        background: #3D566F; }
      #content .row .col-md-2 .list-group .list-items a {
        text-decoration: none;
        color: #E7EEF5;
        font-size: 15px;
        font-weight: 400; }
      #content .row .col-md-2 .list-group .list-items i {
        opacity: 0.6;
        padding-right: 12px;
        color: #E7EEF5;
        padding-top: 4px; }
    #content .row .col-md-2 .list-group .alt-list {
      color: #E7EEF5;
      font-size: 15px;
      display: none; }
      #content .row .col-md-2 .list-group .alt-list li {
        height: 40px;
        border-bottom: 1px solid #415D78;
        padding-left: 45px;
        padding-top: 8px;
        cursor: pointer;
        transition-duration: 0.4s; }
        #content .row .col-md-2 .list-group .alt-list li:hover {
          background: #3D566F; }
        #content .row .col-md-2 .list-group .alt-list li i {
          opacity: 0.6;
          padding-right: 12px;
          color: #E7EEF5;
          padding-top: 4px; }
#content .row .col-md-10 {
  height: 600px;
  background: #d1dae2; }

#footer {
  width: 100%;
  height: 50px;
  background: #34495e;
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
