#addEmployee{
    .row{
        .body{
            width: 100%;
            margin: 10px;
            border-radius: 10px;
            border:2px solid white;
            .col-md-12{
                .row{
                    .oneAdd{
                        background-color: #4A4F50;
                        color: rgba(235, 242, 241, 0.26);
                        width: 100%;
                        border-bottom: solid 2px white;
                        border-radius: 10px 10px 0 0 ; 
                        margin-bottom: 20px;
                        padding: 10px  0 0 10px;
                        h1{
                            //text-align: center;
                        }
                    }
                    .col-md-12{
                        .row{
                            .header_list{
                                //width: 100%;
                                margin-bottom: 5px;
                                ul{
                                    //display: inline-flex;
                                    flex-direction: row;
                                    li{
                                        cursor: pointer;
                                        margin-left: 15px;
                                        color: black;
                                        &:hover{
                                            color: white;
                                            text-decoration: underline;
                                        }
                                        &:first-child{
                                            color: white;
                                        }
                                       
                
                                    }
                
                                }
                            }
                            .body_all{
                                width: 100%;
                                background: white;
                                padding-top: 5px;
                                >div{
                                    display: none;
                                    form{
                                        width: 100%;
                                        div{
                                        
                                            margin: 0;
                                            label{
                                                margin-left: 30px;
                                            }
                                        }
                                    }
                                }
                                .personal_information{
                                    display: block;
                                    width: 100%;

                                    .picture{
                                        padding-left: 100px;
                                        img{
                                            width: 300px;
                                            height: 300px
                                            
                                        }
                                        .form-group{
                                            margin-top: 15px;

                                        }
                                    }
                                    
                                }
                                .company_information{
                                  
                                }
                                .documents{
                                 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}