@mixin myInput{
    margin-bottom: 8px;
    padding: 4px;
    font-size: 12px;
    margin-top: 4px;
    border: 1px solid #757575;
    color: black;
    border-radius: 0.25rem;
}
@mixin myButton{
	border-radius: 5px;
    background: #35393e;
    color: white;
    margin-top: 4px;
    width: 30px;
    padding: 0px 0px 3px 0px;
    height: 25px;
    cursor: pointer;
    border: 0;
    transition-duration: 0.2s;
}