@import "add_employee";
@import "all_employee";
@import "all_department";
@import "add_department";
@import "update_department";
@import "update_employee";
@import "view_department";
@import "view_employee";
// @import "mixins";

body{
    font-family: 'Roboto Condensed', sans-serif;
    //font-family: 'Roboto', sans-serif;
    // font-family: 'Quicksand', sans-serif;

}
.push-right{
    float: right;
}
.push-left{
    float: left;
}
#header{
    width: 100%;
    height: 60px;
    background: #26282b;
    .container-fluid{
        .col-md-2{
            img{
                height: 45px;   
                width: 150px;
                padding-top: 17px;
                padding-left: 5px;
            }
        }
        .col-md-10{
            text-align: left;
            .notification{
                display: inline-block;
                width: 25px;
                height: 25px;
                padding-top: 1px;
                padding-left: 4px;
                margin-top: 15px;
                margin-right: 12px;
                background: #E7EEF5;
                border-radius: 100%;
                transition-duration: 0.4s;
                cursor: pointer;
                &:hover{
                    background:#DAE4EF;
                }
                i{
                    font-size: 17px;
                }
            }
            .user-image{
                img{
                    width: 40px;
                    height: 40px;
                    margin-top: 9px;
                    border-radius: 3px;
                    margin-right: 5px;
                }
            }
            .user-name{
                color: #E7EEF5;
                font-family: 'Roboto', sans-serif; 
                font-size: 13px;
                padding-top:13px;
                margin-top: 5px;
                word-wrap: break-word;
                width: 200px;
                height: 50px;
                padding-right: 5px;
                span{
                    display: inline-block;
                    word-wrap: break-word;
                    cursor: pointer;
                    transition-duration: 0.2s;
                    &:hover{
                        color:#DAE4EF;
                    }
                }
                i{
                    cursor: pointer;
                }
            }
        }
    }
}
#content{
    .row{
        .col-md-2{
            background: #2c3136;
            padding-left: 0;
            padding-right:0; 
            .list-group{
                padding-top:30px;
                .list-items{
                    display: inline-block;
                    height: 40px;
                    border-bottom: 1px solid #3b4046;
                    padding-left: 20px;
                    padding-top:8px;
                    cursor: pointer;
                    transition-duration: 0.4s;
                    &:hover{
                        background: #3b4046;
                        a{
                            color:#ffffff;
                        }
                        i{
                            color:#ffffff;
                            opacity: 1;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #d4dce4;
                        font-size: 15px;
                        font-weight: 400;  
                    }
                    i{
                        opacity: 0.6;
                        padding-right: 12px;
                        color: #E7EEF5;
                        padding-top: 4px;
                    }
                }
                .alt-list{
                    color: #E7EEF5;
                    font-size: 15px;
                    display: none;
                    li{
                        height: 40px;
                        border-bottom: 1px solid #3b4046;
                        padding-left: 45px;
                        padding-top:8px;
                        cursor: pointer;
                        transition-duration: 0.4s;
                        &:hover{
                            background: #3b4046;
                            a{
                                color:#ffffff;
                            }
                            i{
                                color:#ffffff;
                                opacity: 1;
                            }
                        }
                        i{
                            opacity: 0.6;
                            padding-right: 12px;
                            color: #E7EEF5;
                            padding-top: 4px;
                        }
                        a{
                            color: #E7EEF5;
                            font-size: 15px;
                            font-weight: 400;
                            text-decoration: none; 
                        }
                    }
                }
            }
        }
        .col-md-10{
            height: 600px;
            background: #e0e0e0 ;
        }
    }
}
#footer{
    width: 100%;
    height: 50px;
    background: #455a64;
    display: inline-block;


}